Repository UAL-RE/LD-Cool-P, pull requests merged in 2020-09, with the labels that each got.

#94 hotfix/v0.13.2
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/inspection/readme/README_template.md
  setup.py
Labels: curation, good first issue

#88 feature/logging
  ldcoolp/admin/move.py
  ldcoolp/config/default.ini
  ldcoolp/curation/api/figshare.py
  ldcoolp/curation/api/qualtrics.py
  ldcoolp/curation/depositor_name.py
  ldcoolp/curation/inspection/readme/__init__.py
  ldcoolp/curation/main.py
  ldcoolp/curation/reports.py
  ldcoolp/curation/retrieve.py
  ldcoolp/get_branch_name.py
  ldcoolp/git_info.py
  ldcoolp/logger.py
  ldcoolp/scripts/generate_qualtrics_link
  ldcoolp/scripts/get_curation_list
  ldcoolp/scripts/prereq_script
Labels: curation, documentation, enhancement, reorganization, scripts

#89 feature/config_dict
  .gitignore
  ldcoolp/admin/move.py
  ldcoolp/config/__init__.py
  ldcoolp/config/dict_load.py
  ldcoolp/curation/api/figshare.py
  ldcoolp/curation/api/qualtrics.py
  ldcoolp/curation/inspection/readme/__init__.py
  ldcoolp/curation/main.py
  ldcoolp/curation/reports.py
  ldcoolp/curation/retrieve.py
  ldcoolp/scripts/generate_qualtrics_link
  ldcoolp/scripts/get_curation_list
  ldcoolp/scripts/prereq_script
Labels: enhancement, reorganization
