Repository UAL-RE/LD-Cool-P, pull requests merged in 2020-12, with the labels that each got.

#130 feature/travis_ci
  .coveragerc
  .travis.yml
  README.md
  pytest.ini
  tests/__init__.py
  tests/test_git_info.py
  tests/test_logger.py
Labels: CI/CD, api, curation, enhancement, scripts

#135 feature/gh_actions_build_test
  .github/workflows/create-release.yml
  .github/workflows/python-package.yml
  README.md
Labels: CI/CD, enhancement

#132 Hotfix/v0.16.4
  .github/ISSUE_TEMPLATE/enhancement.md
  README.md
  ldcoolp/__init__.py
  setup.py
Labels: enhancement

#139 feature/134_issue_templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: enhancement, management, p1

#140 feature/117_whitespace_jinja_readme
  ldcoolp/curation/inspection/readme/README_template.md
Labels: curation, enhancement, p2

#143 release/v0.17.0
  .coveragerc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/workflows/create-release.yml
  .github/workflows/python-package.yml
  .travis.yml
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/inspection/readme/README_template.md
  ldcoolp/scripts/folder_rename
  ldcoolp/scripts/folder_rename_versioning
  pytest.ini
  setup.py
  tests/__init__.py
  tests/test_git_info.py
  tests/test_logger.py
Labels: CI/CD, bug, curation, enhancement, management
