Repository UAL-RE/LD-Cool-P, pull requests merged in 2021-02, with the labels that each got.

#159 Bug: Qualtrics README form retrieval failed for multiple responses
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/api/qualtrics.py
  setup.py
Labels: bug, curation, p1

#156 Enhancement: Function to dump JSON responses to METADATA
  ldcoolp/curation/api/qualtrics.py
  ldcoolp/curation/main.py
  ldcoolp/curation/metadata.py
  ldcoolp/curation/retrieve.py
Labels: api, curation, enhancement, p2, scripts

#158 feature/155_ci_build_3_9
  .github/workflows/python-package.yml
  README.md
  requirements.txt
Labels: CI/CD, enhancement

#163 Bug: Q_EED does not work with Q_PopulateResponse
  ldcoolp/curation/api/qualtrics.py
Labels: bug, curation, p1

#164 feature/162_qualtrics_link -> feature/137_space_grant
  .github/workflows/python-package.yml
  README.md
  ldcoolp/curation/api/qualtrics.py
  ldcoolp/curation/main.py
  ldcoolp/curation/metadata.py
  ldcoolp/curation/retrieve.py
  requirements.txt
Labels: bug, curation, p1

#166 hotfix/v0.17.4
  .github/PULL_REQUEST_TEMPLATE/bug-pull-request.md
  .github/PULL_REQUEST_TEMPLATE/feature-pull-request.md
  .github/PULL_REQUEST_TEMPLATE/release-pull-request.md
  README.md
  ldcoolp/__init__.py
  setup.py
Labels: management

#167 Curation to work with Space Grant deposits
  ldcoolp/config/default.ini
  ldcoolp/config/dict_load.py
  ldcoolp/curation/api/qualtrics.py
Labels: api, curation, enhancement
