Repository UAL-RE/LD-Cool-P, pull requests merged in 2021-06, with the labels that each got.

#219 Delete populate and strip module from curation.inspection.readme
  CHANGELOG.md
  ldcoolp/curation/inspection/readme/populate.py
  ldcoolp/curation/inspection/readme/strip.py
Labels: chore, curation, reorganization

#221 Bug: Characters in old readme files can cause problems
  CHANGELOG.md
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/inspection/readme/__init__.py
  setup.py
Labels: bug, curation, p1

#223 Allow for downloading only the metadata
  CHANGELOG.md
  ldcoolp/curation/main.py
  ldcoolp/curation/retrieve.py
  ldcoolp/scripts/prereq_script
Labels: curation, enhancement, scripts

#226 Enhancement: Dump JSON metadata from Qualtrics API
  CHANGELOG.md
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/api/qualtrics.py
  ldcoolp/curation/inspection/readme/__init__.py
  ldcoolp/curation/main.py
  ldcoolp/curation/metadata.py
  ldcoolp/scripts/generate_qualtrics_links
  setup.py
Labels: api, curation, enhancement, p3, preservation

#225 Enhancement: Double digit for version
  CHANGELOG.md
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/depositor_name.py
  setup.py
Labels: curation, enhancement, preservation
