Repository UAL-RE/LD-Cool-P, pull requests merged in 2021-03, with the labels that each got.

#170 PR/Hotfix: #169 Update Bug Report Template
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  ldcoolp/__init__.py
  setup.py
Labels: enhancement, p1

#181 hotfix/v0.17.6
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/inspection/readme/__init__.py
  setup.py
Labels: bug, curation, p1

#183 hotfix/v0.17.7
  README.md
  ldcoolp/__init__.py
  ldcoolp/curation/api/qualtrics.py
  setup.py
Labels: api, bug, curation, p1

#174 Feature+Bug: Handling of missing README form response
  README.md
  ldcoolp/curation/api/qualtrics.py
  ldcoolp/curation/inspection/readme/__init__.py
Labels: bug, curation, enhancement, p1
